
.search-cont {
  position: relative;
  width: 200px;
  height: 40px;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-image: url('https://i.pinimg.com/736x/fa/0e/7b/fa0e7b992eff03c576727e95c746005c.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.input {
  width: 0;
  height: 100%;
  padding-left: 0;
  transition: width 0.3s ease, padding-left 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.search-cont.expand .icon {
  transform: rotate(90deg);
}

.search-cont.expand .input {
  width: 200px;
  height: 35px;
  padding-left: 20px;
  opacity: 1;
  pointer-events: auto;
  padding-left: 60px ;
  display: inline-block;
  justify-content: center;
  align-items: center;
}